@import "../../static/variables";

.navContain {
    // border: 2px solid blue;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $global-margin;
    font-family: $font-stack1;
    
    // position: fixed;
    // width: 100%;
    // top: 0;
    // transition: top 0.3s;
    
    .itemContain {
        // border: 2px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
    }

    .logoContain {
        font-size: $heading1-size;
        border: none;
        transition: 0.5s;
        height: 100%;

        &:hover {
            // border-top: 0.5px solid red;
            // border-bottom: 0.5px solid red;
            transition: 0.5s;
            cursor: none;
        }
    }
}