@import "../../static/variables";

.footerContain {
    border: 2px solid aqua;
    height: 200px;
    background-color: lightgrey;
    // color: yellow;
    // margin: $global-margin;
    // margin-bottom: 0;
}