@import "./fonts/";

$font-stack1: "Crimson-Text", sans-serif;
$font-stack2: "Karla", sans-serif;
$font-stack3: "Gotu", sans-serif;

$primary: #141414;
$secondary: grey;


$heading1-size: 30px;
$subheading2-size: 17px;


$global-margin: 100px;





// ==============

// SAMPLE COLORS

// ice = #F5F7FA


// font-family: 'Gotu', sans-serif;
// font-family: 'Crimson Text', serif;
// font-family: 'Karla', sans-serif;