.marketListContain {
    border: 2px solid brown;
    background: magenta;
    width: 90%;
    color: purple;

    .listHeader {
        color: black;
    }

    .catalogueContain {
        border: 2px solid aqua;
    }
}